<div class="col-start-2 col-span-10 mt-0 ml-2">
    {% if query_code == 0 %}
        <p class="text-xs font-bold text-black-700 py-2">{{query_result}}</p>
    {% else %}
        <p class="text-xs font-bold text-red-700 py-2">{{query_result}}</p>
    {% endif %}
</div>
  
<table class="col-start-2 col-span-10 mt-5" id="machines-table">
    <thead class="font-normal text-center text-xs leading-6 text-zinc-800">
        <tr>
            <th class="p-4">name</th>
            <th class="p-4">image</th>
            <th class="p-4 pr-0"></th>
        </tr>
    </thead>
    <tbody>
        {% for container in containers_list %}
        <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
            <td class="p-4 font-normal">
                {{ container.name }}
            </td>
            <td class="p-4 font-normal">{{ container.image }}</td>
            <td class="p-4 pr-0 font-normal opacity-30">ssh {{ machine.user }}@{{ machine.ip }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>