{% extends "base.html" %}

{% block content %}

<div class="container grid grid-cols-12">
    <div class="col-span-12 mt-10">
        <h3 class="font-bold text-center">
        {{ app_name }}
        </h3>
    </div>
    <div class="col-start-2 col-span-10 mt-2 opacity-50 text-center text-xs text-zinc-400">
        @{{ app_version }}
    </div>
    <div class="col-start-2 col-span-10 px-0 mt-5 ml-2 text-xs text-zinc-400">
        <a href="/machines" class="text-blue-700 font-bold">
          machines
        </a>
        &nbsp;/&nbsp;
        {{ machine.name }}
        &nbsp;/&nbsp;
        containers
    </div>
</div>

<form>
    <div class="container grid grid-cols-12 mt-10 ml-2">
        <div class="col-start-2 col-span-4 font-normal text-xs mx-0">
        <input type="search" name="query" value="{{query}}" placeholder="{{prompt_text}}" autocomplete="off" hx-get="/machines/{{machine.name}}/containers" hx-target="#containers-table" hx-trigger="input changed delay:750ms, search" class="peer px-0 py-2.5 mx-0 h-full w-full border-b bg-transparent font-sans text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-blue-300 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
        </div>
    </div>
</form>

<div class="container grid grid-cols-12 mt-10" id="containers-table">
    {% include "machines/containers/list_table.html" %}
</div>

{% endblock %}