<div class="mt-0 sm:mx-20 xs:mx-5">
    {% if query_code == 0 %}
        <p class="text-xs font-bold text-black-700 py-2">{{query_result}}</p>
    {% else %}
        <p class="text-xs font-bold text-red-700 py-2">{{query_result}}</p>
    {% endif %}
</div>
  
<table class="mt-5 sm:mx-20 xs:mx-5 xs:w-full sm:w-10/12" id="clusters-table">
    <thead class="font-normal text-center text-xs leading-6 text-zinc-800">
        <tr>
            <th class="p-4">name</th>
            <th class="p-4">cloud</th>
            <th class="p-4">protected</th>
            <th class="p-4">services</th>
            <th class="p-4">size_ask</th>
            <th class="p-4">size_has</th>
            <th class="p-4">state</th>
            <th class="p-4">id</th>
            <th class="p-4">requests</th>
            <th class="p-4"></th>
        </tr>
    </thead>
    <tbody>
        {% for cluster in clusters_list %}
            {% if cluster.state == "running" %}
                {% set cluster_color = "text-sky-400" %}
            {% else %}
                {% set cluster_color = "text-red-700" %}
            {% endif %}

            <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
                <td class="p-4 font-normal">
                    <a href="/clusters/{{cluster.name}}/machines" class="text-blue-700 font-bold">
                        {{ cluster.name }}
                    </a>
                </td>
                <td class="p-4 font-normal">{{ cluster.cloud }}</td>
                <td class="p-4 font-normal">{{ cluster.protected }}</td>
                <td class="p-4 font-normal">{{ cluster.services }}</td>
                <td class="p-4 font-bold {{cluster_color}}">
                    {% if cluster.protected == 0 and cluster.state == "running" and cluster.size_has > 0 %}
                        <span class="float-left mx-auto">
                            <a href="/clusters/{{cluster.name}}/scale?ask=-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="font-bold text-red-700 size-4">
                                    <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </span>
                    {% endif %}

                    {{ cluster.size_ask }}

                    {% if cluster.protected == 0 and cluster.state == "running" %}
                        <span class="float-right mx-auto">
                            <a href="/clusters/{{cluster.name}}/scale?ask=1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="font-bold text-blue-700 size-4">
                                    <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                                </svg>
                            </a>
                        </span>
                    {% endif %}
                </td>
                <td class="p-4 font-bold {{cluster_color}}">{{ cluster.size_has }}</td>
                <td class="p-4 font-bold {{cluster_color}}">{{ cluster.state }}</td>
                <td class="p-4 font-normal">{{ cluster.id }}</td>
                <td class="p-4 font-normal">
                    <a href="/clusters/{{cluster.name}}/requests">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 font-bold mx-auto text-blue-600">
                            <path fill-rule="evenodd" d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </td>
                <td class="p-4 font-normal">
                    {% if cluster.deletable == 1 %}
                        <a href="/clusters/{{cluster.name}}/delete">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 font-bold mx-auto text-red-600">
                                <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>