<div class="flex flex-row mt-0">
    <div class="w-1/12"></div>
    <div class="w-10/12 border-b-2 border-slate-100 pb-5">
        <p class="font-semibold text-xs text-black">
            Deploys - {{ deploys_total }}
        </p>
    </div>
</div>

<div class="flex flex-row mt-0">
    <div class="w-1/12"></div>
    <div class="w-10/12">
        <table class="w-full">
            <thead class="font-normal text-center text-xs leading-6 text-zinc-800">
                <tr>
                    <th class="p-4">cluster</th>
                    <th class="p-4">project</th>
                    <th class="p-4">state</th>
                    <th class="p-4">timestamp</th>
                    <th class="p-4">id</th>
                    <th class="p-4"></th>
                </tr>
            </thead>
            <tbody>
                {% for deploy in deploys_list %}

                {% set cluster_name = clusters_map.get(deploy.cluster_id) %}

                {% if deploy.state == "deployed" %}
                {% set state_color = "font-semibold text-zinc-600" %}
                {% elif deploy.state == "error" %}
                {% set state_color = "font-semibold text-red-400" %}
                {% else %}
                {% set state_color = "font-normal text-zinc-400" %}
                {% endif %}

                <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
                    <td class="p-4 font-normal">
                        <a href="/clusters/{{cluster_name}}/machines" class="font-bold text-blue-700">
                            {{ cluster_name }}
                        </a>
                    </td>
                    <td class="p-4 font-normal">
                        {{ deploy.project_name }}
                    </td>
                    <td class="p-4 {{state_color}}">{{ deploy.state }}</td>
                    <td class="p-4 font-normal">{{ deploy.created_at }}</td>
                    <td class="p-4 font-normal">{{ deploy.id }}</td>
                    <td class="p-4 font-normal flex justify-end">
                        {% if deploy.id in deploys_map_by_cluster.get(deploy.cluster_id) %}
                        <a href="/cube/deploy/projects/{{project.name}}?cluster_id={{cluster_name}}" title="re-deploy">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-4 text-blue-700 font-bold">
                                <path fill-rule="evenodd"
                                    d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>