<div class="flex w-12/12 justify-between mt-0 mx-5 mr-2">
    {% if query_code == 0 %}
        <p class="text-xs font-bold text-black-700">
            {{query_result}}
        </p>
    {% else %}
        <p class="text-xs font-bold text-red-700">
            {{query_result}}
        </p>
    {% endif %}
    <p class="text-xs font-bold mr-0">
        <span class="text-orange-600">
            backlog: {{ backlog_count }}
        </span>
    </p>
</div>

<table class="mt-5 mx-5 w-full">
    <thead class="font-normal text-left text-xs leading-6 text-center text-zinc-800">
        <tr>
            <th class="p-4">name</th>
            <th class="p-4">state</th>
            <th class="p-4">time</th>
            <th class="p-4">timestamp</th>
            <th class="p-4">id</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in worker_objects %}
        <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 font-normal text-center text-xs">
            <td class="p-4">{{ worker.name }}</td>
            <td class="p-4 font-bold">
                {% if worker.state == "term" %}
                    <span class="cursor-help text-red-600" title="todo - error message">
                        {{worker.state}}
                    </span>
                {% elif worker.state == "busy" %}
                    <span class="text-blue-700">
                        {{worker.state}}
                    </span>
                {% else %}
                    <span class="text-sky-300">
                        {{worker.state}}
                    </span>
                {% endif %}
            </td>
            <td class="p-4"></td>
            <td class="p-4"></td>
            <td class="p-4">{{ worker.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
