<div class="flex justify-between sm:mx-20 xs:mx-5">
    <div class="flex">
        {% if query_code == 0 %}
        <p class="text-xs font-bold text-black-700 py-2">{{query_result}}</p>
        {% else %}
        <p class="text-xs font-bold text-red-700 py-2">{{query_result}}</p>
        {% endif %}
    </div>
</div>

<table class="mt-10 sm:mx-20 xs:mx-5 xs:w-full sm:w-10/12" id="ingress-table">
    <thead class="font-normal text-center text-xs leading-6 text-zinc-800">
        <tr>
            <th class="p-4">hostname</th>
            <th class="p-4">service</th>
            <th class="p-4">tunnel</th>
            <th class="p-4">status</th>
        </tr>
    </thead>
    <tbody>
        {% for ingress in ingress_list %}
        <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
            <td class="p-4 font-normal">{{ ingress.hostname }}</td>
            <td class="p-4 font-normal">{{ ingress.service }}</td>
            <td class="p-4 font-normal">{{ ingress.tunnel_name }}</td>
            <td class="p-4 font-normal">{{ ingress.tunnel_status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>