<div class="mt-0 mx-10">
    {% if query_code == 0 %}
        <p class="text-xs font-bold text-black-700">
            {{query_result}}
        </p>
    {% else %}
        <p class="text-xs font-bold text-red-700">
            {{query_result}}
        </p>
    {% endif %}
</div>

<table class="mt-5 ml-5 w-11/12">
    <thead class="font-normal text-left text-xs leading-6 text-center text-zinc-800">
        <tr class="">
            <th class="p-4 pr-6 pl-0">name</th>
            <th class="p-4 pr-6">pass</th>
            <th class="p-4 pr-6">user</th>
        </tr>
    </thead>
    <tbody>
        {% for passw in passw_list %}
            {% include "passw/list_passw.html" %}
        {% endfor %}
    </tbody>
</table>
